.footer{
    color: #737373;
}
.footer .social-icon{
    border: #737373 1px solid;
    margin:0px 5px;
    height: 30px;
    align-items: center;
    width: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer .social-icon:hover{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}
.copyright-message-footer{
    font-size: 10px;
}
.footer a{
    text-decoration: none;
    color: #737373;
}